
[data-bs-theme="blue"] {
    --bs-body-color: var(--bs-white);
    --bs-body-color-rgb: #{to-rgb($white)};
    --bs-body-bg: var(--bs-blue);
    --bs-body-bg-rgb: #{to-rgb($blue)};
    --bs-tertiary-bg: #{$blue-600};

.dropdown-menu {
    --bs-dropdown-bg: #{mix($blue-500, $blue-600)};
    --bs-dropdown-link-active-bg: #{$blue-700};
}

.btn-secondary {
    --bs-btn-bg: #{mix($gray-600, $blue-400, .5)};
    --bs-btn-border-color: #{rgba($white, .25)};
    --bs-btn-hover-bg: #{darken(mix($gray-600, $blue-400, .5), 5%)};
    --bs-btn-hover-border-color: #{rgba($white, .25)};
    --bs-btn-active-bg: #{darken(mix($gray-600, $blue-400, .5), 10%)};
    --bs-btn-active-border-color: #{rgba($white, .5)};
    --bs-btn-focus-border-color: #{rgba($white, .5)};
    --bs-btn-focus-box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .2);
}
}



    body {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.space-before, .row {
    margin-top: 5vh;
}

h1, h2 {
    margin-top: 50pt;
}

.figure-caption {
    font-size: large;
}

img {
    width: 100%; height: auto
}

.code {
    padding: 1px;
    width: 100%;
    border: 1px solid black;
}

.code-lg {
    height: 85vh;
    min-height: 500px;
}

.code-md {
    height: 50vh;
    min-height: 300px;
}

.code-sm {
    height: 10vh;
    min-height: 100px;
    border: 0;
}

.code-btn-box {
    padding-top: 16px;
    padding-right: 16px;
    opacity: 50%;
}

.code:hover ~ div > .code-btn-box, .code-btn-box:hover {
    opacity: 100%;
}