
.navbar-nav, .nav-link, .navbar-dark, .navbar[data-bs-theme=dark] {
    --bs-nav-link-color: #ddd;
}

body {
    padding-top: 15vh;
    padding-bottom: 10vh;
    overflow-x: hidden;
    --cora-reachSet-color: rgb(69, 150, 255);
}

::selection {
    color: white;
    background-color: var(--cora-reachSet-color);
}

h1,h2,h3,h4,h5,h6,.card {
    font-weight: bold;
    font-family: Newsreader, serif;
}

a {
    text-decoration: none;
}

iframe {
    background-color: white;
}


.space-before {
    margin-top: 75px;
}

.space-before-sm {
    margin-top: 50px;
}

.space-before-xs {
    margin-top: 20px;
}


.figure-caption {
    font-size: large;
}

.navbar {
    padding-left: 10px;
}
.navbar-brand {
    width: 25px;
}

.row ~ hr {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 5%;
    width: 90%;
}

hr {
    color: var(--bs-primary);
}

.list-group-item {
    padding-top: 60px;
}


img, embed, object[type="image/svg+xml"] {
    width: 100%;
    max-width: 80vw;
    height: auto;
    max-height: 50vh;
}

.card {
    margin: 10px;
    padding: 10px;
}

.card > img {
    margin-bottom: 5px;
}

.card-link {
    cursor: pointer;
    text-decoration: none;
}

.card-link:HOVER {
    margin: 0px;
}

.card-link:HOVER b {
    margin-left: 10px;
    margin-right: 10px;
}


.code {
    padding: 1px;
    width: 100%;
    border: 1px solid black;
}

.code-lg {
    height: 85vh;
    min-height: 500px;
}

.code-md {
    height: 50vh;
    min-height: 300px;
}

.code-sm {
    height: 150px;
    border: 0;
}

.code-btn-box {
    padding-top: 16px;
    padding-right: 16px;
    opacity: 50%;
}

.code:hover ~ div > .code-btn-box, .code-btn-box:hover {
    opacity: 100%;
}

.card-img-top {
    background-color: white;
    padding: 10px;
}

.citation-list li::marker {
    content: "[" counter(list-item) "] ";
}

.list-group-item > .btn {
    width: 100%;
    text-align: left;
}


.list-group-item span {
    border: solid #222;
    border-width: 0 1px 1px 0;
    display: inline;
    cursor: pointer;
    padding: 3px;
    position: absolute;
    right: 0;
    margin-top: 10px;
}

.list-group-item a.btn.collapsed span {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: 0.5s transform ease-in-out;
}

.list-group-item a.btn span {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transition: 0.5s transform ease-in-out;
}

.list-group-item h4 {
    margin: 0;
}

/* Change the duration of the collapse animation */
.collapsing {
    transition: height 1s ease;
}

/* badges are used in publications as tags */
.badge {
    font-weight: normal;
    border-radius: 1em;
}

.flyin {
    /* Move the element below the screen */
    transform: translateY(5vh);
    opacity: 0;
    /* Set the transition duration and easing */
    transition: transform 1s ease-out, opacity 1s ease-out;
    scroll-margin-top: 5vh;
}

.visible {
    /* Move the element back to its original position */
    transform: translateY(0);
    opacity: 1;
    scroll-margin-top: 0vh;
}

hr.visible {
    /* same as default opacity for hr in Bootstrap */
    opacity: 0.25;
}
