

body {
    padding-top: 10vh;
    padding-bottom: 10vh;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6,.card {
    font-weight: bold;
    font-family: Newsreader, serif;
}

iframe {
    background-color: white;
}

.space-before-sm {
    margin-top: 25px;
}

.space-before {
    margin-top: 75px;
}

.figure-caption {
    font-size: large;
}

.navbar {
    padding-left: 10px;
}
.navbar-brand {
    width: 25px;
}

.row ~ hr {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 5%;
    width: 90%;
    color: var(--bs-primary);
}


img, embed, object[type="image/svg+xml"] {
    width: 100%;
    max-width: 80vw;
    height: auto;
    max-height: 50vh;
}

.card {
    margin: 10px;
    padding: 10px;
}

.card > img {
    margin-bottom: 5px;
}

.card-link {
    cursor: pointer;
    text-decoration: none;
}

.card-link:HOVER {
    margin: 0px;
}

.card-link:HOVER b {
    margin-left: 10px;
    margin-right: 10px;
}


.code {
    padding: 1px;
    width: 100%;
    border: 1px solid black;
}

.code-lg {
    height: 85vh;
    min-height: 500px;
}

.code-md {
    height: 50vh;
    min-height: 300px;
}

.code-sm {
    height: 150px;
    border: 0;
}

.code-btn-box {
    padding-top: 16px;
    padding-right: 16px;
    opacity: 50%;
}

.code:hover ~ div > .code-btn-box, .code-btn-box:hover {
    opacity: 100%;
}

.card-img-top {
    background-color: white;
    padding: 10px;
}

.citation-list li::marker {
    content: "[" counter(list-item) "] ";
}

.citation-list a {
    color:orange;
}